@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: ubuntu;
  src: url('fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: ubuntu-bold;
  src: url('fonts/Ubuntu/Ubuntu-Bold.ttf');
  font-style: bold;
}

@font-face {
  font-family: ubuntu-italic;
  src: url('fonts/Ubuntu/Ubuntu-Light.ttf');
  font-style: bold;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  @apply m-0 font-[ubuntu]
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  #root {
    @apply bg-slate-950 w-full h-full text-white overflow-hidden;
  }

  .header-border {
    @apply border-b border-b-slate-700;
    border-bottom-style: solid;
  }

  .drawer-border {
    @apply border-r border-r-slate-700;
    border-right-style: solid;
  }

  body,
  html {
    @apply h-full
  }

  svg {
    @apply w-6 h-6 overflow-hidden
  }

  hr {
    @apply bg-zinc-800 border-zinc-800
  }

  .x-header {
    @apply fixed top-0 h-16 px-5 flex justify-center items-center border-b dark:border-zinc-800 backdrop-blur-sm dark:bg-zinc-900 w-full;
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  input[type=text] {
    outline: none;
    all: unset;
  }

  .btn {
    @apply flex text-nowrap justify-center items-center rounded-md px-3 py-2 text-sm leading-5 font-semibold text-white cursor-pointer select-none focus:outline-none focus:ring duration-150 ease-in-out;
  }

  .btn svg {
    @apply h-6 w-6 dark:text-white me-1
  }

  .btn:has(svg) {
    @apply pr-4
  }

  .btn.default {
    @apply bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:ring-violet-300
  }

  .btn.icon {
    @apply rounded-full size-10 p-0 bg-white/10 hover:bg-white/30;
  }

  .btn.icon svg {
    @apply m-0;
  }

  .btn.primary {
    @apply bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:ring-violet-300
  }

  .btn.slate {
    @apply bg-slate-500 hover:bg-slate-600 active:bg-slate-700 focus:ring-slate-300
  }

  .btn.blue {
    @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:ring-blue-300
  }

  .outlined {
    @apply bg-none active:bg-slate-700 focus:ring-slate-300 hover:dark:text-white/70 hover:text-black/70;
    background-color: transparent !important;
  }

  .card {
    @apply border border-slate-800 rounded-md shadow-md bg-slate-900
  }

  .card>.title {
    @apply px-4 py-3 text-xl font-semibold flex justify-start items-center
  }

  .card>.subtitle {
    @apply px-4 pb-3 text-sm flex justify-start items-center text-white/60
  }

  .card>.title:has(+.subtitle) {
    @apply !pb-0;
  }

  .card>.title.center {
    @apply !justify-center
  }

  .card>.content {
    @apply py-2 px-4 block
  }

  .card>.actions {
    @apply w-full flex justify-end items-center p-2
  }

  .input {
    @apply w-full flex text-white justify-center items-center dark:bg-zinc-950 rounded-md font-semibold focus-within:outline-none focus-within:ring duration-150 ease-in-out focus-within:ring-violet-300 border border-zinc-800;
  }

  .input[aria-errormessage=true] {
    @apply focus-within:ring-rose-500 border-rose-500
  }

  .input svg {
    @apply h-6 w-6 dark:text-white ms-1 me-4
  }

  .input input {
    @apply w-full px-4 py-2 leading-6 dark:text-white bg-transparent focus:outline-none focus:ring-0 rounded-md
  }

  .input:has(svg) input {
    @apply !pe-2
  }

  ul.errors {
    @apply text-rose-500 text-sm py-1 px-4 rounded-md list-disc
  }

  .container {
    @apply w-full h-full mx-auto
  }

  .container.middle {
    @apply flex justify-center items-center
  }

  .list {
    @apply rounded-md border dark:border-zinc-700 w-full shadow-md flex flex-col divide-y dark:divide-zinc-700
  }

  .list>.item {
    @apply w-full p-4 hover:dark:bg-zinc-800 duration-150 ease-in-out flex justify-start items-center
  }

  .list>.item svg {
    @apply w-6 h-6 me-4
  }

  .list>.item>.content {
    @apply grow;
  }

  .list>.item>.action {
    @apply shrink;
  }

  .drawer-button {
    @apply w-full flex justify-start items-center cursor-pointer rounded-none bg-transparent border-none px-4 py-2 text-white hover:text-white/80 hover:bg-white/20 duration-150 shadow active:bg-white/20 focus:bg-white/30;
  }

  .drawer-border .active {
    @apply bg-white/20;
  }

  .drawer-button svg {
    @apply me-3
  }

  .form-section {
    @apply block mb-5;
  }

  .form-section>* {
    @apply w-full mb-2;
    display: inline-block;

    &:last-child {
      @apply mb-0;
    }
  }

  label:has(input[type=checkbox]) {
    @apply select-none;
  }

  label:has(input[type=checkbox]) input {
    @apply me-2;
  }
}